/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    size: 14px;
    font-weight: 400;
    color:black;
    text-decoration: none; /* suppression des liens soulignés */
    margin:0px;
}

h1 {
    size: 22px;
    font-weight: 700;
}

h2 {
    size: 16px;
    font-weight: 700;
}

h3 {
    size: 14px;
    font-weight: 700;
}

* ul {
    list-style-type: none;
  }

main {
    margin: 0px 50px 0px 50px;
}

.title, .search, .filter, .info-nb-housing, .hebergements, .populaires {
    margin: 15px 0px 15px 0px;
}

/** Header **/

.container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
}

.container img {
    width: 61.09px;
    height: 19px;
    padding: 30px 50px 30px 50px;
}

.container-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;  
    padding: 0px 50px 0px 50px;
}

.container li {
    padding: 19px 3px 30px 3px;
    font-size:19px;
    margin: 0px 30px 0px 30px;

}

.container li:hover {
    border-top: 2px solid #0065FC;
    cursor: pointer;
}

.container a:hover {
    color:#0065FC;
}

/** Barre de recherche **/

.location-icon, input {
    padding: 3px 8px 3px 8px;
}

.search p, input {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.search{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
}

.location-icon {
    border: solid;
    border-color: #f2f2f2;
    border-radius: 15px 0px 0px 15px;
    border-width: 1px 0px 1px 1px;
    background-color: #f2f2f2;
    height: 41px;
    width: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    border: solid;
    border-width: 1px 0px 1px 0px;
    border-color: #f2f2f2;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rechercher-large-screen input, .rechercher-small-screen input{
    border: solid;
    border-color: #0065FC;
    border-width: 1px 1px 1px 0px;
    height: 49px;
    width: 132px;
    background-color: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.rechercher-large-screen input {
    width: 132px;
    border-radius: 0px 15px 15px 0px;

}

.rechercher-small-screen input {
    width: 50px;
    border-radius: 15px 15px 15px 15px;

}

.rechercher-small-screen {
    position: relative;
    display: inline-block;

}

.rechercher-small-screen i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden-input {
    display:none;
}




/****** Pas encore utilisé ***********/

/*
.card-horizontal {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-horizontal img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}



:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}



.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/

/*
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

/*
.hebergements {
    width: 65%;
}

/****** Populaires ***********/

/*
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

/*
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Large devices (tablets, less/equal than 1024px) */

@media (min-width: 767.99px) {

    .rechercher-small-screen {
        display: none;
      }
    
}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {

    .container li:hover {
        border-top: none;
        border-bottom: 2px solid #0065FC;
        cursor: pointer;
    }

    .container {
        display:flex;
        flex-direction: column;   
        justify-content: center;
        align-items: center;
    }

    .container li {
        border-bottom: 2px solid #f2f2f2;
        padding: 0px 30px 30px 30px;
        margin: 30px 0px 0px 0px;
    }

    .rechercher-large-screen {
        display: none;
      }
    
}