/** 1. General **/
* {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 14px;
  text-decoration: none; /* suppression des liens soulignés */
  margin: 0%;
}

ul {
  padding: 0px;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --dark-gray: #d9d9d9;
}

* ul {
  list-style-type: none;
}

h1 {
  font-size: 22px;
  font-weight: 700;
}

h2 {
  font-size: 16px;
  font-weight: 700;
}

h3 {
  font-size: 14px;
  font-weight: 700;
}

p {
  font-size: 13px;
}

.title,
.search,
.filter,
.info-nb-housing,
.housing,
.trending {
  margin: 40px 0px 40px 0px;
}

.fa-solid {
  color: var(--main-color);
}

/** 2. Header & Footer */

.header-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.header-container img {
  width: 61.09px;
  height: 19px;
  padding: 30px 50px 30px 50px;
}

.header-nav div {
  padding: 20px 3px 30px 3px;
  margin: 0px 30px 0px 30px;
  font-size: 18px;
}

.header-nav {
  display: flex;
}

.header-nav a {
  font-size: 16px;
}

.header-nav :hover {
  font-size: 16px;
  border-top: 2px solid var(--main-color);
}

.header-nav-2 div :hover {
  border-top: none;
  color: var(--main-color);
}

.footer-container {
  margin: 0 50px 0px 50px;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-container div {
  width: 30%;
  padding: 40px;
}

.footer-container h3 {
  margin: 0px 0px 15px 0px;
}

.footer-container a {
  display: block;
  margin: 0px 0px 15px 0px;
}

.footer-container a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* 3. Searchbar & filter */

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0px 50px 0px 50px;
  box-sizing: border-box;
}

/* Searchbar */

.location-icon,
input {
  padding: 3px 8px 3px 8px;
}

.info-nb-housing i {
  padding: 3px 8px 3px 0px;
}

.search p,
input {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.search,
.info-nb-housing {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.location-icon {
  border: solid;
  border-color: var(--main-bg-color);
  border-radius: 15px 0px 0px 15px;
  border-width: 1px 0px 1px 1px;
  background-color: var(--main-bg-color);
  height: 41px;
  width: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  border: solid;
  border-width: 1px 0px 1px 0px;
  border-color: var(--main-bg-color);
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rechercher-large-screen input,
.rechercher-small-screen input {
  border: solid;
  border-color: var(--main-color);
  border-width: 1px 1px 1px 0px;
  height: 49px;
  width: 132px;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.rechercher-large-screen input {
  width: 132px;
  border-radius: 0px 15px 15px 0px;
}

.rechercher-small-screen input {
  width: 50px;
  border-radius: 15px 15px 15px 15px;
}

.rechercher-small-screen {
  position: relative;
  display: inline-block;
}

.rechercher-small-screen i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden-input {
  display: none;
}

.fa-magnifying-glass {
  color: white;
}

.fa-location-dot {
  color: black;
}

/* Filter */

.filter-title {
  margin: 8px 25px 8px 0px;
}

.filter-buttons,
.filter-button,
.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filter-button {
  flex-wrap: nowrap;
  padding: 10px 25px 10px 25px;
  border: solid 2px var(--dark-gray);
  border-radius: 25px 25px 25px 25px;
  margin: 8px 25px 8px 0px;
}

.filter-buttons {
  flex-wrap: wrap;
}

.filter-buttons :hover {
  background-color: var(--filter-bg-color);
  cursor: pointer;
}

.filter-button p {
  font-weight: 700;
  padding: 0px 0px 0px 6px;
  font-size: 16px;
}

.filter-button i {
  font-weight: 700;
  padding: 0px 6px 0px 0px;
}

.fa-circle-info {
  color: var(--dark-gray);
}

/** 4. Housing, trending, activities **/

.housing-and-trending {
  padding: 0px 50px 0px 50px;
  box-sizing: border-box;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.housing-cards .card :hover,
.trending-cards .card :hover,
.activities-cards .card :hover {
  cursor: pointer;
}

.card-content {
  padding: 10px;
}

.card img {
  object-fit: cover;
}

.housing-cards h3,
.trending-cards h3,
.activities-cards h3 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.activities-cards h3 {
  padding: 10px 20px 20px 20px;
}

.housing-cards p,
.trending-cards p,
.activities-cards p {
  margin-bottom: 8px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

.housing-and-trending {
  display: flex;
  justify-content: space-between;
}

.housing-and-trending section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.housing-cards .card-content,
.trending-cards .card-content {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.housing {
  width: 65%;
}

.trending {
  width: 32%;
}

.activities {
  padding: 30px;
  box-sizing: border-box;
}

.housing-cards,
.activities-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin-top: 30px;
}

.housing-cards .card {
  width: calc(33.33% - 20px);
}

.trending-cards .card {
  display: flex;
  flex-direction: row;
}

.activities-cards .card {
  width: calc(25% - 20px);
  padding: 0px;
}

.housing-cards img,
.activities-cards img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.housing-cards img {
  height: 124px;
  width: 268px;

  width: calc(100% - 0px);
}

.trending-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.activities-cards img {
  width: 100%;
  height: 380px;
}

.housing-plus p {
  padding-top: 20px;
  font-weight: 700;
}

.housing-plus :hover {
  text-decoration: underline;
  cursor: pointer;
}

.trending-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activities h2 {
  margin: 0px 0px 0px 0px;
}


/* VERSION RESPONSIVE */

/* Desktop (more than 1024px) */

@media (min-width: 1024px) {
  body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
  }

  .rechercher-small-screen {
    display: none;
  }
}

/* Large devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
  .rechercher-small-screen {
    display: none;
  }

  .filter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /** 4. Housing, trending, activities **/

  .housing-and-trending {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .housing {
    width: 100%;
  }

  .trending {
    width: 100%;
  }

  .trending-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .trending-cards .card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
  }

  .activities-cards img {
    height: 200px;
  }
}

/* Small devices (phones, less than 768px) */

@media (max-width: 768px) {
  /** 1. General **/

  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 14px;
  }

  h3 {
    font-size: 13px;
    font-weight: 700;
  }

  p {
    font-size: 13px;
  }

  /** 2. Header & Footer */

  .header-container {
    display: block;
  }
  .header-container img {
    text-align: center;
  }

  .header-img {
    text-align: center;
  }

  .header-nav div {
    border-bottom: 2px solid var(--main-bg-color);
  }

  .header-nav div {
    width: 50%;
    padding: 15px 0px 15px 0px;
    margin: 0px;
    text-align: center;
  }

  .header-nav :hover {
    border-bottom: 2px solid var(--main-color);
    border-top: none;
  }

  .header-nav div :hover {
    border-bottom: none;
    color: var(--main-color);
  }

  .rechercher-large-screen {
    display: none;
  }

  .rechercher-small-screen {
    display: inline;
  }

  .footer-container {
    margin: 0%;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer-container div {
    width: 70%;
  }

  /* 3. Searchbar & filter */

  .search p,
  input {
    font-size: 14px;
  }

  .filter-button p {
    font-size: 14px;
  }

  .search-bar {
    width: 150px;
  }

  /** 4. Housing, trending, activities **/

  .housing-and-trending {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 0px;
  }

  .housing-and-trending section {
    border-radius: 0px;
    box-sizing: border-box;
  }

  .housing-cards,
  .trending-cards,
  .activities-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .trending-cards .card,
  .housing-cards .card,
  .activities-cards .card {
    width: calc(100% - 0px);
  }

  .activities-cards img {
    height: 141px;
  }

  .housing-and-trending .housing {
    background-color: white;
  }

  #housing-card-1 {
    order: 1;
  }

  #housing-card-2 {
    order: 6;
  }

  #housing-card-3 {
    order: 3;
  }

  #housing-card-4 {
    order: 4;
  }

  #housing-card-5 {
    order: 2;
  }

  #housing-card-6 {
    order: 5;
  }
}
